:root {
    scroll-behavior: smooth;
    --primary-theme-color: #FCFCFC;
    --secondary-theme-color: #020303;
    --tertiary-theme-color: #BE1818;
    --primary-text-color: #020303;
    --secondary-text-color: #ffffff;
    --tertiary-text-color: #BE1818;
    --primary-shadow-color: #42464f80;
    --primary-highlight-color: #FFE900;
    --primary-font-family: 'Roboto';
    --reverse-primary-shadow-color: #42464f80;
    --primary-button-color: #BE1818;
    --secondary-button-color: #fff;
    --padding-section: 2rem;
    --padding-container: 1rem;
    --max-width-form: 480px;
    --max-width-container: 640px;
    --primary-border-radius: 0.5rem;
}

.body {
    background-color: var(--primary-theme-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    margin: 0;
}