.hero-img__img{
    width: 100%;
    border-radius: var(--primary-border-radius);
    box-shadow: 0 0 0.25rem 0.125rem var(--primary-shadow-color);
    animation: translate 3s linear infinite;
}
.hero-img__img:hover{
    animation: rotate 0.25s;
}

.hero__title{
    font-size: 2rem;
}

.hero__paragraph{
    font-size: 1.25rem;
}

@media(min-width: 768px){
    .hero__title{
        font-size: 3rem;
    }
    
    .hero__paragraph{
        font-size: 1.5rem;
    }
}